<launch>

   <!-- laod camera -->
  <include file="$(find tuw_uvc)/launch/general.launch" />
  
   <!-- laod detection -->
  <include file="$(find tuw_aruco)/launch/single_marker_live.launch" />

  
   <!-- laod rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tuw_aruco)/launch/demo_single_marker_live.rviz"/>
  
</launch>