<launch>
  <arg name="color_image" default="/camera/rgb/image_raw"/>
  <arg name="image_out" default="image_out"/>
  <arg name="checkerboard_columns" default="7"/>
  <arg name="checkerboard_rows" default="5"/>
  <arg name="checkerboard_square_size" default="0.03"/>
  <arg name="rotate_camera_image_180" default="false"/>
  
  <node name="tuw_checkerboard_node" pkg="tuw_checkerboard" type="tuw_checkerboard_node" output="screen">
      <remap from="image" to="$(arg color_image)" />
      <param name="checkerboard_columns" value="$(arg checkerboard_columns)" type="int" />
      <param name="checkerboard_rows" value="$(arg checkerboard_rows)" type="int" />
      <param name="checkerboard_square_size" value="$(arg checkerboard_square_size)" type="double" />
      <param name="rotate_camera_image_180" value="$(arg rotate_camera_image_180)" type="bool" />
  </node>
</launch>
